@using YunCBlog.MVCData.Models.ApplicationViewModels
@model List<MenuViewModel>
<header>
    <!--menu begin-->
    <div class="menu">
        <nav class="nav" id="topnav">
            <h1 class="logo"><a href="/">梦中的Aoede的博客</a></h1>
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                var current = "";// i == 0 ? "id=topnav_current" : "";
                <li>
                    <a href="@item.Url" @current>@item.MenuName</a>
                    @if (item.ChildMenuViewModel.Count > 0)
                    {
                        <ul class="sub-nav">
                            @foreach (var child in item.ChildMenuViewModel)
                            {
                                <li><a href="@child.Url">@child.MenuName</a></li>
                            }
                        </ul>
                    }
                </li>
            }

            @*<div id="search_bar" class="search_bar">
                <form id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title" />
                    <input type="hidden" name="tempid" value="1" />
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索" />
                    <span class="search_ico"></span>
                </form>
            </div>*@
            <!--search end-->
        </nav>
    </div>
    <!--menu end-->
</header>

