[*.cs]

# CS1998: 异步方法缺少 "await" 运算符，将以同步方式运行
dotnet_diagnostic.CS1998.severity = silent

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = silent

# CA1056: URI 属性不应是字符串
dotnet_diagnostic.CA1056.severity = none

# CA1822: 将成员标记为 static
dotnet_diagnostic.CA1822.severity = none

# IDE0055: 修正格式
dotnet_diagnostic.IDE0055.severity = none
